body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.green-btn, .red-btn {
    padding: 20px 40px; /* збільшення розміру кнопок на 100% */
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.green-btn {
    background-color: green;
    color: white;
}

.red-btn {
    background-color: red;
    color: white;
}
